.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.rightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 180px;
  padding: 0;
  height: 40px;
}

.mainContClassName {
  margin-bottom: 0px !important;
}

.tableContainer {
  border: 1px solid #ffffff80;
  background: #fff3;
  box-shadow: inset 0 3px 5px #ffffff80;
  backdrop-filter: blur(50px);
  width: 100%;
  border-radius: 6px;
  margin-block: 20px;
  min-height: 38vh;
}
.filter{
  width: 120px;
}
.main{
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerClass{
  margin-bottom: 0px !important;
}

.heading{
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 1560px) {
  .tableContainer {
    min-height: unset;
  }
}



/* Responsive styles */
@media screen and (max-width: 992px) {
  .pageHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  
  .main {
    width: 100%;
    justify-content: space-between;
  }
  
  .rightContainer {
    flex: 1;
    gap: 8px;
  }
  
  .btn {
    width: 150px;
    height: 36px;
  }
  
  .filter {
    width: 100px;
  }
  .heading{
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .pageHeader {
    gap: 15px;
  }
  
  .main {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }
  
  .rightContainer {
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    width: 100%;
    height: 40px;
  }
  
  .filter {
    width: 100%;
  }
  
  .tableContainer {
    margin-block: 15px;
  }
  .heading{
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .pageHeader {
    gap: 12px;
  }
  
  .main {
    gap: 12px;
  }
  
  .rightContainer {
    gap: 8px;
  }
  
  .tableContainer {
    margin-block: 10px;
  }
}

