.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 180px;
  padding: 0;
  height: 40px;
}

.mainContClassName {
  margin-bottom: 0px !important;
}

.tableContainer {
  border: 1px solid #ffffff80;
  background: #fff3;
  box-shadow: inset 0 3px 5px #ffffff80;
  backdrop-filter: blur(50px);
  width: 100%;
  border-radius: 6px;
  margin-block: 20px;
  min-height: 38vh;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 565px);
  width: 100%;
}

.viewAllPatientsButtonContainer{
  display: flex;
  justify-content: center;
}

.viewAllPatientsButton{
  width: fit-content;
}


@media screen and (max-width: 1560px) {
  .tableContainer {
    min-height: unset;
  }
}
