.faqDiv {
  margin-block-start: 40px;
  width: 100% !important;
}

.faqHead {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faqHead h2 {
  color: var(--black-color);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.88px;
  text-align: center;
}

.imageSection {
  background-color: var(--secondary-sub);
  border-radius: 31px;
  width: 100%;
  height: 436px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: url("/images/app-images/Grain-Texture.png");
  opacity: 0.2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.imageDiv {
  width: 300px;
  height: 300px;
  position: relative;
}

/* Tablet styles */
@media (max-width: 992px) {
  .faqHead {
    padding-bottom: 40px;
  }

  .faqHead h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  .faqDiv {
    margin-block-start: 0px !important;
  }

  .faqHead {
    padding-bottom: 30px;
    gap: 8px;
  }

  .faqHead h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 575px) {
  .faqHead h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .faqHead {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .faqHead h2 {
    font-size: 20px;
  }

  .faqHead {
    padding-bottom: 10px;
  }
}
