.btn {
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  transition: 0.5s all;
  border-radius: 6px !important;
  padding: 14px 15px;
  border: none;
  outline: none !important;
  background-color: var(--royal-navy-blue);
  color: var(--white-color);
}
.btn label {
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.btn[data-color-variant="gradient"] {
  color: white;
  background: linear-gradient(225deg, #e04018 0%, #f8d11d 100%), #0a2147;
}
.btn[data-color-variant="primary"] {
  background: var(--royal-navy-blue);
  color: var(--white-color);
}
.btn[data-color-variant="secondary"] {
  background: transparent;
  color: var(--black-color);
}
.btn[data-color-variant="danger"] {
  background: var(--reddish-orange);
  color: var(--white-color);
}
.btn[data-color-variant="dark"] {
  background: var(--black);
  color: var(--white);
}
.btn[data-color-variant="black-outlined"] {
  background: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--black-color) !important;
}

.btn[data-color-variant="tertiary"] {
  background: var(--tertiary);
  color: var(--white);
}
.btn[data-color-variant="blue"] {
  background: var(--blue-v1);
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 570px) {
  .btn {
    padding: 14px 25px;
  }
}

@media screen and (max-width: 375px) {
  .btn {
    padding: 12px 20px;
  }
}
