.phoneInput {
  width: 100%;
  border-color: #ccc; /* Change to the correct border color as per your Color module */
  border-radius: 12px;
  border-width: 1px;
}

.label {
  color: var(--text-color);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.errorText {
  color: red;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: var(--inter);
  font-weight: 400;
}

.labelDisabled {
  color: var(--disabled-label-color);
}

.phoneContainer {
}
.phoneContainer input {
  font-family: var(--inter);
  color: var(--black-color);
  font-weight: 300;
  border: 1px solid var(--input-border) !important;
  letter-spacing: 1.4px;
  background-color: inherit;
  padding: 20px 13px;
  width: 100% !important;
  border-radius: 6px;
  height: 40px !important;
  font-size: 14px !important;
}
.phoneContainer input:focus {
  box-shadow: none !important;
  /* border-color: var(--input-border-active) !important; */
}

.phoneContainer :global(.flag-dropdown) {
  border-color: var(--input-border) !important;
}
