.header {
  /* background-color: var(--white-color); */
  position: absolute;
  margin-block: 50px 40px;
  width: 100%;
  padding-block: 15px;

  /* border-bottom: 1px solid rgba(249, 234, 255, 0.8); */
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(50px);
  width: 100%;
  padding: 15px 26px;
}

.logoDiv {
  width: 153px;
  position: relative;
  height: 45px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigationDiv {
  display: flex;
  gap: 35px;
}
.itemCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: var(--secondary-color-v1-opacity);
  font-weight: 500;
  width: max-content;
}
.activeLink {
  color: var(--primary-color-opacity);
  text-decoration: 2px solid underline var(--primary-color-opacity);
}
.buttonDiv {
  gap: 10px;
  display: flex;
}
.dashboardButton {
  width: 100%;
}
.navBtns {
  display: flex;
  gap: 10px;
}
.navBtns button {
  width: max-content;
}

.overlayContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #ffffff80;
  background: #fff3;
  box-shadow: inset 0 3px 5px #ffffff80;
  backdrop-filter: blur(50px);
  padding: 30px;
  overflow: hidden;
  margin-top: 25px;
}
.userName {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.overLayLinks {
  color: var(--royal-navy-blue);
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-color-opacity);
  position: relative;
}

.overlayContainer {
  z-index: 1050;
}