.accordionContainer {
  display: flex;
  flex-direction: column;
}

.mainClass {
  min-width: 100%;
}

.box {
  border-radius: 10px;
  margin-block: 10px;
  cursor: pointer;
  min-width: 100% !important;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.activeBox {
  border-bottom: 1px solid #eaecf0;
  padding-block: 20px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 8px;
  border-bottom: 1px solid #eaecf0;
  padding-block: 24px 32px;
  gap: 10px;
  overflow: hidden;
  min-width: 0;
}
.noBorder {
  border-bottom: none;
}
.activeHeader {
  border: 1px solid transparent;
  padding: 0px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #0a66eb;
}

.iconBg {
  font-size: 24px;

  cursor: pointer;
}
.box p {
  opacity: 0.6;
  width: 90%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}
.h6,
.box p {
  color: var(--secondary-main);
}

.h6 {
  font-size: 18px;
  color: #3d3d3d;
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; */
  max-width: 100%;
  flex: 1;
  min-width: 0;
}

.answer {
  color: #6d6d6d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 425px) {
  .h6 {
    font-size: 16px;
  }
  .answer {
    font-size: 14px;
  }
  .header {
    padding-block: 24px 16px;
  }
  .box p {
    width: 97%;
  }
}

@media (max-width: 375px) {
  .h6 {
    font-size: 14px;
  }
  .answer {
    font-size: 13px;
  }
}
