@font-face {
  font-family: "SF UI Display";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("/fonts/sf-ui-display-black-58646a6b80d5a.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 800; /* Heavy */
  font-style: normal;
  src: url("/fonts/sf-ui-display-heavy-586470160b9e5.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("/fonts/sf-ui-display-bold-58646a511e3d9.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 600; /* Semibold */
  font-style: normal;
  src: url("/fonts/sf-ui-display-semibold-58646eddcae92.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("/fonts/sf-ui-display-medium-58646be638f96.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/fonts/sf-ui-display-semibold-58646eddcae92.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/fonts/sf-ui-display-light-58646b33e0551.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 200; /* Thin */
  font-style: normal;
  src: url("/fonts/sf-ui-display-thin-58646e9b26e8b.otf") format("opentype");
}

@font-face {
  font-family: "SF UI Display";
  font-weight: 100; /* Ultralight */
  font-style: normal;
  src: url("/fonts/sf-ui-display-ultralight-58646b19bf205.otf")
    format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
