:root {
  --font-weight-ultralight: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;
  --font-weight-black: 900;
}


body {
  font-family: 'SF UI Display', sans-serif !important;
  font-weight: var(--font-weight-regular); /* Default to regular */
}

h1 {
  font-family: 'SF UI Display', sans-serif !important;
  font-weight: var(--font-weight-black); /* Black */
}

h2 {
  font-family: 'SF UI Display', sans-serif !important;
  font-weight: var(--font-weight-bold); /* Bold */
}

p {
  font-family: 'SF UI Display', sans-serif !important;
  font-weight: var(--font-weight-light); /* Light */
}

