.header {
  background-image: url("/Images/app-images/AboutBack.svg");
  background-size: cover;
  background-position: center;
  height: 472px;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-blend-mode: normal, multiply, normal;

}
.headerChild{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 50%;
    margin: auto;
}
.headerChild h4 {
  text-align: center;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.88px;
}
.headerChild p {
  text-align: center;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.5;
  line-height: 21px;
}



.textImage{
    position: relative;
    width: 550px;
    height: 550px;
}
.main{
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.main .image{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .Text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 30px;
}

.btn{
    width: fit-content;
    padding: 16px 30px !important;
}
.imagesSection{
  position: relative;
  width: 232px;
  height: 110px;
  margin-top: 60px;
}
.imagesTop{
  border-top: 1px solid var(--field-border-color);
}
.ImageBottom{
  margin-bottom: 0px !important;
}
.guideSection{
  border-radius: 8px;
  padding: 30px 20px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), var(--bg-snow-color);
}