/* .landingPage {
  background-image: url("/Images/app-images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 200px;
} */
.chooseUsSec {
  background-color: var(--bg-snow-color);
}
.newsletterSection {
  margin-bottom: 50px;
}
