.date {
  color: var(--gray-color-v6);
}
.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: linear-gradient(225deg, #e04018 0%, #f8d11d 100%), #0a2147;
  color: var(--white-color);
  cursor: pointer;
}
