.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #ffffff80;
  background: #fff3;
  box-shadow: inset 0 3px 5px #ffffff80;
  backdrop-filter: blur(50px);
  width: 100%;
  padding: 80px 90px;
  margin-bottom: 20px;
}


.headingDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: left;
}

.headingDiv h2 {
  font-size: 44px !important;
  font-weight: 700;
  color: #000;
  line-height: 50px;
}

.headingDiv p {
  color: #484848;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 70%;
}

.forgetPassword {
  display: flex;
  color: var(--deep-ocean-blue);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  width: max-content;
  align-self: flex-end;
}

.signupContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 300;
}

.signupLink {
  color: var(--reddish-orange);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.signupLink:hover {
  color: var(--deep-ocean-blue);
}


/* Responsive styles */
@media screen and (max-width: 992px) {
  .loginContainer {
    padding: 60px 50px;
  }
  
  .loginFormDiv {
    width: 90% !important;
  }
  
  .headingDiv h2 {
    font-size: 36px !important;
  }
}

@media screen and (max-width: 768px) {
  .loginContainer {
    padding: 40px 30px;
  }
  
  .loginFormDiv {
    width: 100%;
  }
  
  .headingDiv h2 {
    font-size: 28px !important;
  }
  
  .headingDiv p {
    font-size: 14px;
    line-height: 20px;
  }
  .headingDiv{
    gap: 10px !important;
  }
  .forgetPassword{
    font-size: 14px !important;
  }
  
  .signupContainer {
    font-size: 14px !important;
  }
  
  .signupLink {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 575px) {
  .loginContainer {
    padding: 30px 20px;
  }
  
  .headingDiv h2 {
    font-size: 24px !important;
  }
  
  .headingDiv {
    gap: 16px;
  }
}
