.Container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.labelOnTop {
  margin-top: 1rem;
}

.labelText {
  color: var(--secondary-text-black);
font-family: var(--plusJakartaSans);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
letter-spacing: -0.14px;
margin-bottom: 8px;
}

.onTopLabel {
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);
  line-height: 1;
  padding-inline: 8px;
  top: -8px;
  margin-inline-start: 1.5rem;
  color: var(--primary-color);
}

.inputBox {
  font-family: var(--inter);
  color: var(--black-color);
  border: 1px solid var(--light-gray);
  letter-spacing: 1.4px;
  background-color: inherit;
  padding: 20px 13px;
  width: 100%;
  border-radius: 6px;
  height: 40px;
  font-size: 14px !important;
  /* padding-left: 50px; */
  /* border: 1px solid var(--border-color); */
}

.paddingLeft{
  padding-left: 50px;
}
.inputBox::placeholder {
  color: var(--heading-sub-gray);
  font-family: var(--plusJakartaSans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.mt2 {
  margin-top: 0.5rem;
}

.inputBox:focus-within {
  outline: none !important;
}

.inputBox:disabled {
  cursor: not-allowed;
}

.noBorder {
  border: none;
}

.inputPassContainer {
  display: flex;
  position: relative;
  background-color: var(--white-color);
  border-radius: 6px;
}

.inputPassContainer input::placeholder {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--inter);
}

.prefix {
  background-color: inherit;
  border: none;
  font-family: var(--ff-primary-bold);
  font-size: 16px;
  color: var(--black-color);
}

.inputPassContainer input:disabled {
  background-color: var(--disabled-input-color);
  color: #c9c9c9;
  user-select: none;
}

.inputPassContainer .passwordIcon {
  position: absolute;
  right: 15px;
  top: 47%;
  bottom: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.passwordIcon{
  bottom: 0 !important;
}

.errorText {
  color: red;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: var(--plusJakartaSans);
}

.disabled {
  color: var(--disabled-label-color);
}

.leftIconBox {
  position: absolute;
  left: 20px;
  top: 50%;
  bottom: 45%;
  transform: translateY(-50%);
  height: max-content;
}

.rightIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  Firefox  */
.inputBox[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 578px) {
  .labelText {
    font-size: var(--fs-base);
  }
}



