.downBtn span {
  border-radius: 100px;
  border: 1px solid #e04018;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

